---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Programmi di allenamento",
    description:
      "Raggiungi i tuoi obiettivi con i nostri programmi di allenamento personalizzati, per ogni livello ed obiettivo",
    icon: "bx:bx-dumbbell",
  },
  {
    title: "Risorse utili",
    description:
      "Abbiamo una vasta gamma di risorse utili per aiutarti a raggiungere i tuoi obiettivi, come ricette, video di allenamento e molto altro.",
    icon: "bx:bxs-info-circle",
  },
  {
    title: "Sempre in evoluzione",
    description:
      "Siamo sempre in evoluzione e cerchiamo di migliorare costantemente la nostra app per offrirti il meglio, accogliendo qualsiasi feedback e suggerimento.",
    icon: "bx:bxs-chart",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Perché scegliere Your Body Lab?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Sei solo ad un click di distanza da una vita più sana e noi ti aiuteremo a
    raggiungere i tuoi obiettivi. Scopri perché Your Body Lab è la scelta
    migliore per te.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
