<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Your Body Lab Srls.
  </p>
  <p class="text-center text-sm text-slate-500">
    <a href="/privacy/">Privacy policy</a>
  </p>
</footer>
