---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import runnerImage from "assets/runner.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={runnerImage}
      alt="Runner in a threadmill"
      widths={[200, 400, 600]}
      sizes="(max-height: 1024px) 100vh, 360px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Your Body Lab, un'app per il fitness e la salute
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Ti forniamo la miglior app per la salute e il fitness per aiutarti a
      raggiungere i tuoi obiettivi in modi diversi. Abbiamo un team di esperti
      che ti guiderà nel tuo viaggio in tutti gli aspetti della tua salute e del
      tuo fitness, dalla nutrizione all'esercizio fisico.
    </p>
    <div class="sm:flex gap-3">
      <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <Link
          href="https://play.google.com/store/apps/details?id=app.yourbodylab.your_body_lab_flutter&pcampaignid=web_share"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          <Icon class="text-white w-5 h-5" name="bx:bxl-android" />

          Download su Play Store
        </Link>
      </div>
      <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <Link
          href="https://apps.apple.com/it/app/your-body-lab/id1663469215?l=en-GB"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          <Icon class="text-white w-5 h-5" name="bx:bxl-apple" />

          Download su App Store
        </Link>
      </div>
    </div>
  </div>
</main>
