---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Our areas of expertise</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <div class="flex flex-col items-center gap-3">
      <Icon class="h-8 md:h-12" name="bx:bx-dumbbell" />
      <p>Fitness</p>
    </div>
    <div class="flex flex-col items-center gap-3">
      <Icon class="h-8 md:h-12" name="bx:bx-fork" />
      <p>Nutrition</p>
    </div>
    <div class="flex flex-col items-center gap-3">
      <Icon class="h-8 md:h-12" name="bx:bx-brain" />
      <p>Mental Health</p>
    </div>
    <div class="flex flex-col items-center gap-3">
      <Icon class="h-8 md:h-12" name="bx:bx-health" />
      <p>Medicine</p>
    </div>
    <div class="flex flex-col items-center gap-3">
      <Icon class="h-8 md:h-12" name="bx:bxs-baby-carriage" />
      <p>Obstetrics</p>
    </div>
  </div>
</div>
